/*---------------------------------------------------------*
	Styles used in the <annotationInput> control.
*---------------------------------------------------------*/

#annotationContainer {
	margin-top: 8px;
	position: relative;
}

#annotationField {
	font-size: @OneNoteH3Size;
}

#annotationPlaceholder {
	cursor: pointer;
	color: @OneNoteElementUnderlineColor;
	display: block;
	border: @TextAreaBorderThickness solid transparent;
	margin: 0px;
	padding: @TextAreaPadding;
	
	&:hover {
		border: @TextAreaBorderThickness solid @PreviewHeaderInputHoverColor;
	}

	&:focus {
		border: @TextAreaBorderThickness solid @PreviewHeaderInputHoverColor;
	}

	> img {
		padding-right: 8px;
	}
}

input::-webkit-input-placeholder { /*Chrome, Edge, Opera, Safari*/
	color: #605e5c;
}
input::-moz-placeholder { /* Firefox 19+ */
	color: #605e5c
}
input:-ms-input-placeholder { /* IE 10+ */
	color: #605e5c
}
input:-moz-placeholder { /* Firefox 18- */
	color: #605e5c
}
